body{
  background-color:#393E46;
}
footer{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 5%;
  color: #EEEEEE;
  font-size: 1.5rem;
}
h1{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}
h3{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 50%;
}
.dice {
  text-align: center;
  display: inline-block;
}
.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
